* {
	text-align: center;
}

body {
	background: #17136a;
}

header {
	margin: 90px 260px 5px;
	padding: 200px 80px 200px;
	color: black;
	background-color: lightgrey;
}

body {
	
}

#selfie {
	border-radius: 45.5%;
}

.header-nav li {
	display: inline-block;
	padding-right: 50px;
}

.projects {
	padding: 60px 0 10px;
}

.hidden-projects {
	visibility: hidden; 
} 

.thumbnail {
	height: 188px;
	width: 300px;
	background-color: black;
	color: white;
}


.contact img {
	padding: 20px;
}

#contact-me {
	margin: 0 auto;
	padding: 10px;
	display: block;
	text-align: center;
}

.main-nav li {
	display: inline-block;
	float: right;
	padding: 5px;
}

.main-nav h2 {
	float: left;
	display: inline-block;
}